---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Landing from '../../components/Landing.astro';
import Presentation from '../../components/Presentation.astro';
import Menu from '../../components/Menu.astro';
import Map from '../../components/Map.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Contacts from '../../components/Contacts.astro';
import Wave from '../../components/Wave.astro';
import Gallery from '../../components/Gallery.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead 	
			title={SITE_TITLE}	
			description={SITE_DESCRIPTION} 
			image='../agri_close.webp'
		/>
	</head>
	
	<body>

		<Header title={SITE_TITLE} />
		
		<Landing />

		<Presentation />

		<Menu />

		<Gallery />

		<Map />

		<Wave />

		<Contacts />

		<Footer />

	</body>
</html>

