---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Landing from '../components/Landing.astro';
import Presentation from '../components/Presentation.astro';
import Menu from '../components/Menu.astro';
import Map from '../components/Map.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Contacts from '../components/Contacts.astro';
import { getLangFromUrl, useTranslations  } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
---


<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta http-equiv="refresh" content="0;url=/it/" />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	
	<body>

		<p> You are being redirected to the main page </p>
	</body>
</html>
