---
import { AUTHOR, AUTHOR_LINK } from '../consts';
const today = new Date();
---

<footer class='h-4 my-8 text-center text-xs'>

	&copy; {today.getFullYear()}
	
	Made with 
	
	<a 
		href='https://astro.build/'
		target="_blank">
			<img src="../astro-logo-dark.png" alt='Astro logo' loading="lazy" class="h-4 mx-1 inline"/> 
	</a>
	
	by 
	<a 
		class='font-medium text-blue-600' 
		href={AUTHOR_LINK} 
		target="_blank">
		{AUTHOR}
	</a>


</footer>