---
import { getLangFromUrl, useTranslations  } from '../i18n/utils';
import ImageSwiper from './ImageSwiper.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!-- Galleria -->
<div class='my-12'>
    
    <h1 class='font-bold'>{t("Gallery.h1")}</h1>

    <br>
    
    <ImageSwiper 
        images={[ 
            ['../vid_agri_left_to_right.mp4', '', 'video'],
            ['../agri-right.webp', '../agri-right_720.webp 720w, ../agri-right_1080.webp 1080w', 'img'],
            ]}
        isLazy={true}
        height='h-screen'
        maxHeight='h-[32rem]'
    />
    
</div>