---
import LanguagePicker from './LanguagePicker.astro';
---

<header class="bg-base w-full h-1/5">
	
	<div class="container flex flex-row items-center justify-between p-2 mx-auto my-auto md:flex-row">
		
		<!-- Icon -->
		<a href='#'>
			<img src='/favicon.png' alt='Restaurant icon' class='w-8 max-w-xs my-auto'/>
		</a>
		
		<!-- Title -->
		<nav class="flex-2 h-full">
			<img src='/logo.png' alt='Logo' class=' max-h-24 w-2/3 mx-auto'/>
		</nav>
		
		<!-- Language -->
		<LanguagePicker />
		
	</div>
</header>
