---
import { SITE_TITLE } from '../consts';
import LanguagePicker from './LanguagePicker.astro';
---

<header class="w-full h-1/5 text-gray-700 bg-white border-t border-gray-100 body-font">
	
	<div class="container flex flex-row items-start justify-between p-2 mx-auto my-auto md:flex-row">
		
		<!-- Icon -->
		<a href='#' class="items-center my-auto">
			<img src='/favicon.png' alt='Restaurant icon' class='w-8 max-w-xs my-auto'/>
		</a>
		
		<!-- Title -->
		<nav class="flex-2 my-auto h-full">
			<img src='/logo.png' alt='Logo' class=' max-h-24 w-2/3 mx-auto'/>
		</nav>
		
		<!-- Language -->
		<LanguagePicker />
		
	</div>
</header>
