---
import { getLangFromUrl, useTranslations  } from '../i18n/utils';
import ImageSwiper from './ImageSwiper.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<main class='h-full flex flex-col'>

    <ImageSwiper 
        images={[
            ['../agri_close.webp', '../agri_close_720.webp 720w, ../agri_close_1080.webp 1080w','img'], 
            ['../location3.webp', '../location3_720.webp 720w, ../location3_1080.webp 1080w', 'img']]}  
        isLazy={false} 
        height="h-[46rem]" 
    />

</main>
