---
import { getLangFromUrl, useTranslations  } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<main class='h-full flex flex-col'>

    <h1 class='font-bold text-xl text-center my-4'>{t('Landing.h1')}</h1>

    <img src='../agriturismo.jpg' alt='Agriturismo' class='max-h-fit object-contain'/>

</main>
