---
import { getLangFromUrl, useTranslations  } from '../i18n/utils';
import ImageSwiper from './ImageSwiper.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<main class='h-full flex flex-col'>

    <!-- <h1 class='font-bold text-xl text-center my-4 md:my-8'>{t('Landing.h1')}</h1> -->

    <ImageSwiper 
        images={[
            ['../vid_agri_left_to_right.mp4', 'video'], 
            ['../agri_close.webp', 'img'], 
            ['../location3.webp', 'img']]}  
        isLazy={false} 
        height="h-[46rem]" 
    />

</main>
