
<main class='h-full flex flex-col'>

    <h1 class='font-bold text-xl text-center my-4'>Agriturismo a Bardine di San Terenzo (MS)</h1>

    <img src='./agriturismo.jpg' alt='Agriturismo' class='max-h-fit object-contain'/>

</main>
