---
---

<div class="my-auto">

  <!-- <img src='/it.png' alt='Italian flag' class='w-8 max-w-xs rounded-md'/> -->

  <p class="text-[15px] md:text-xs text-center">
    <a href='/it/'>ITA</a> <a href='/en/'>ENG</a>
  </p>

</div>