---
import { getLangFromUrl  } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
---

<div class="">
  
  <p class="text-[15px] md:text-xs text-center">
    {
      lang === 'it' ?
      <a class='p-2' href='/en/'>ENG</a> :
      <a class='p-2' href='../'>ITA</a> 
    } 
  </p>

</div>