---
import {languages} from '../i18n/strings';
---

<!-- Language flags -->
<div class="items-center h-full my-auto">

  <!-- <img src='/it.png' alt='Italian flag' class='w-8 max-w-xs rounded-md'/> -->

  <p class="text-xs">
    <a href='/it/'>ITA</a> - <a href='/eng/'>ENG</a>
  </p>

</div>