---
import MenuImageCarousel from './MenuImageCarousel.astro';
import { getLangFromUrl, useTranslations  } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!-- Specialità e Menu -->
<div class='my-12 md:mx-8'>
    
    <h1 class='text-xl mx-2 md:mx-0 font-bold'>{t('Menu.h1')}</h1>

    <br>
    
    <MenuImageCarousel />

    <br>

    <p class="mx-2">

        {t('Menu.p1')}

    </p>

    <br> 

    <h1 class='text-xl mx-2 my-12 font-bold'>MENU</h1>

    <img src='../menu.png' alt='menu' class='mx-auto my-4  md:h-[38rem]'>

    <br> 

    <p class="mx-2">
        {t('Menu.p2')}
    </p>

    <br>

    <p class="mx-2">
    <strong>{t('Menu.p3-title')}</strong> {t('Menu.p3')}

    </p>
        <br>

        <p class="mx-2">
        <strong>{t('Menu.p4-title')}</strong> 
    </p>
    </p>
    
</div>