---
import { getLangFromUrl, useTranslations  } from '../i18n/utils';
import ImageSwiper from './ImageSwiper.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!-- Specialità e Menu -->
<div class='my-12 '>
    
    <h1 class='text-xl mx-2 md:mx-8 font-bold'>{t('Menu.h1')}</h1>

    <br>
    
    <ImageSwiper 
        images={[
            ['../prodotti.jpg', 'img'], 
            ['../ravioli.jpg', 'img'], 
            ['../torta.jpg', 'img'],
            ['../uova.jpg', 'img'],]}
        isLazy={true}
        height='h-full'
    />

    <br>

    <p class="mx-2 md:mx-8">

        {t('Menu.p1')}

    </p>

    <br> 

    <h1 class='text-xl mx-2 md:mx-8 my-12 font-bold'>MENU</h1>

    <img src='../menu.png' alt='Menu' loading="lazy" class='mx-auto px-2 my-4 md:h-[38rem]'>

    <br> 

    <p class="mx-2 md:mx-8">
        {t('Menu.p2')}
    </p>

    <br>

    <p class="mx-2 md:mx-8">
    <strong>{t('Menu.p3-title')}</strong> {t('Menu.p3')}

    </p>
        <br>

        <p class="mx-2 md:mx-8">
        <strong>{t('Menu.p4-title')}</strong> {t('Menu.p4')}
    </p>
    </p>
    
</div>