---
//import { SITE_TITLE } from '../consts';
---

<!-- Specialità e Menu -->
<div class='my-4'>
    
    <h1 class='text-center font-bold'>Le nostre specialità</h1>
    
    <img src='./steak.jpg' alt='bistecca' class=''>

    <h1 class='text-center font-bold'>Menu</h1>

    <img src='./menu.webp' alt='menu' class=''>

</div>