---
//import { SITE_TITLE } from '../consts';
---

<!-- Specialità e Menu -->
<div class='my-4'>
    
    <h1 class='text-xl mx-2 font-bold'>LE NOSTRE SPECIALITA'</h1>

    <br>
    
    <img src='./steak.jpg' alt='Bistecca' class=''>

    <br>

    <img src='./menu.webp' alt='menu' class=''>

</div>