---
//import { SITE_TITLE } from '../consts';
import { getLangFromUrl, useTranslations  } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!-- Presentazione -->
<div class='my-12 mx-2 md:mx-8'>
    
    <h1 class='text-xl font-bold'>{t('Presentation.h1')}</h1>

    <br>

    <p>
        {t('Presentation.p')}
    </p>
</div>