---
//import { SITE_TITLE } from '../consts';
---

<!-- Presentazione -->
<div class='my-12 mx-2 md:mx-8'>
    
    <h1 class='text-xl font-bold'>CHI SIAMO</h1>

    <br>

    <p class="">
        Situato in posizione privilegiata nella campagna
        dell'alta Lunigiana, immerso in un'oasi verde, a pochi passi
        dai boschi di castagni e querce, nelle vicinanze di un torrente,
        sorge il nostro Agriturismo frutto della passione di quattro 
        generazioni per la campagna. La nostra struttura offre prodotti tipici,
        ristorante con cibi fatti in casa con ingredienti frutto del nostro lavoro, 
        e un parco per bambini.
    </p>
</div>