---
const { name, link, color, size, path } = Astro.props;
---

<a href={link} aria-label={name} target="_blank">
    <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-7 w-7"
    fill="currentColor"
    style=`color: ${color}`
    viewBox=`0 0 ${size == null ? 24 : size} ${size == null ? 24 : size}`>
    <path
        d={path} />
    </svg>
</a>
